:root {
    --primary-text-color: #606060;
    --light-text-color: #EBEBEB;
    --aqua-bg-color: #A3E8FE;
    --light-bg-color: #E5E5E5;
    --orange-bg-color: #FFDBA5;
    --white-bg-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    height: 100%;
}

body {
    background-color: var(--white-bg-color);
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}


/*******************
 TYPOGRAPHY 
 ******************/

.main-title {
    font-weight: 400;
    font-size: 2.3rem;
    font-size: clamp(2rem, 0rem + 4.1667vw, 3.5rem);
    text-align: center;
}

strong {
    font-weight: 700;
}

.card-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.subtitle {
    font-size: clamp(1.7rem, 0rem + 4.1667vw, 2.2rem);
    background-color: var(--aqua-bg-color);
    width: 100%;
}

.team-stats-record {
    font-size: 1.6rem;
    padding: 1vw 2px;
}

.time-stamp {
    font-size: 1.2rem;
    font-style: italic;
}

.trade h2 {
    font-size: 2.5rem;
    font-weight: 700;
}


/*******************
 UTILITIES 
 ******************/

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border: 1px solid var(--light-text-color);
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card-padding {
    padding: .8rem;
}

.card-bottom-margin {
    margin-bottom: 1rem;
}

.align-right {
    justify-self: end;
}


/*******************
 DISPLAY
 ******************/

.page-layout-container {
    display: grid;
    grid-template-columns: 1fr;
}

main {
    order: 2;
}

.main-header {
    background-color: var(--aqua-bg-color);
    border-radius: 0 0 10px 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.grid-header {
    background-color: var(--primary-text-color);
    color: var(--light-text-color);
    font-size: 1.6rem;
    padding: 0 2px;
}

.grid-4 {
    display: grid;
    grid-template-columns: minmax(40%, 50%) repeat(3, minmax(30px, auto));
}

.team-stats-record {
    border-left: 1px solid var(--light-text-color);
    border-right: 1px solid var(--light-text-color);
}

.team-stats-record p {
    display: flex;
    align-items: flex-end;
}

.team-stats-record:nth-child(odd) {
    background-color: var(--light-bg-color);
}

.team-stats-record:last-child {
    border-bottom: 1px solid var(--light-text-color);
}

nav {
    order: 1;
}

nav .subtitle {
    background-color: var(--orange-bg-color);
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-item, .nav-item:focus, .nav-item:active, .nav-item:visited {
    font-size: 2rem;
    border: 1px solid var(--light-bg-color);
    background-color: var(--white-bg-color);
    padding: 1.5rem 2rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--light-text-color);
}

.img {
    width: 100%;
    object-fit: cover;
}

.trade-list li {
    display: block;
    font-size: 2rem;
    padding-bottom: .5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 1.9rem;
    background-color: #606060;
    color: var(--light-bg-color);
    grid-row-start: 2;
    grid-row-end: 3;
}

footer div {
    text-align: center;
}


/*******************
MEDIA QUERIES 
 ******************/

@media screen and (min-width: 750px) {
    .page-layout-container {
        width: 95%;
        max-width: 1100px;
        margin: 0 auto;
        grid-template-columns: minmax(auto, 65%) minmax(250px, 35%);
    }
    main {
        order: 1;
    }
    nav {
        height: auto;
        align-self: start;
        order: 2;
    }
    .main-header {
        height: 100px;
    }
    /* .main-title {
        font-size: 3.5rem;
    } */
}
